body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background: #043873;
}

.menu-humburger {
    display: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 10px 0px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: white;
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    display: flex;
    gap: 15px;
}

.btn-login {
    background: #FFE492;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-try {
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.hero {
    background: url("element_garis.svg") no-repeat right center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 100px 0px;
    box-sizing: border-box;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}

.konten_management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-kosong {
    display: flex;
    justify-content: flex-end;
}

.image-kosong img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.konten_management h1 {
    color: white;
    font-size: 64px;
}

.konten_management p {
    font-size: 18px;
    color: white;
    line-height: 1.8;
}

.btn-try-whitepace {
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.management .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.management {
    background-color: #fff;
}

.konten-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("element-underline.svg");
    background-repeat: no-repeat;
    background-position: left top 140px;
    background-size: 600px;
}

.image-project {
    display: flex;
    justify-content: flex-end;
}

.image-project img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.konten-project h1 {
    font-size: 64px;
}

.konten-project p {
    font-size: 18px;
    line-height: 1.8;
}

.hero-bulet {
    background: url("element-bulet.svg");
    background-repeat: no-repeat;
    background-position: left top 100px;
    background-size: 300px;
}

.img {
    min-width: 500px;
    height: 300px;
    margin: 50px;
    background-color: #C4DEFD;
}

.btn-started {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.foto {
    display: flex;
}

.foto img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.work-together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: url("element-underline.svg");
    background-repeat: no-repeat;
    background-position: left 170px top 80px;
    background-size: 400px;
}

.work-together h1 {
    font-size: 64px;
}

.work-together p {
    font-size: 18px;
    line-height: 1.8;
}

.work-everywhere {
    background: url("element-bulet-2.svg") no-repeat;
    background-position: left;
    background-size: 400px;
}

.text-work {
    background: url("element-underline-biru.svg") no-repeat;
    background-position: right 200px top 50px;
    background-size: 300px;
}

.text-work h1 {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 64px;
}

.text-work p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    line-height: 1.8;
    font-size: 18px;
}

.btn-now {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.extension {
    color: white;
}

.extension .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.konten-extension {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: url("element-underline.svg");
    background-repeat: no-repeat;
    background-position: left 220px top 70px;
    background-size: 500px;
}

.image-extension {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-extension img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.konten-extension h1 {
    font-size: 64px;
}

.konten-extension p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-whitepace {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.customise {
    background-color: white;
}

.customise .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-customise {
    display: flex;
    justify-content: flex-start;
}

.image-customise img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.konten-customise {
    background: url("element-underline.svg");
    background-repeat: no-repeat;
    background-position: left top 145px;
    background-size: 550px;
}

.konten-customise h1 {
    font-size: 64px;
}

.konten-customise p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-customise {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.text-plan {
    background: url("element-underline.svg") no-repeat;
    background-position: left 930px top 30px;
    background-size: 470px;
}

.text-plan h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 64px;
}

.text-plan p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    margin-top: 20px;
}

.container-card {
    max-width: 1480px;
    margin: 0 auto;
    padding: 80px 0;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-free,
.card-organization {
    width: 472px;
    min-height: 498px;
    padding: 40px 30px;
    border: 1px solid #FFE492;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
}

.card-personal {
    width: 472px;
    min-height: 560px;
    padding: 60px 30px;
    background: #043873;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateY(-20px);
}

.card h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

.card h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 500;
}

.card p {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 18px;
}

.btn-card-free,
.btn-card-organization {
    margin-top: 25px;
    padding: 16px 30px;
    border: 1px solid #FFE492;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}

.btn-card-personal {
    margin-top: 25px;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    background: #4F9CF9;
    color: #fff;
    cursor: pointer;
}

.btn-taskey {
    background-color: #4F9CF9;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    margin: 25px auto 50px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.data {
    background-color: #fff;
}

.data .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-data {
    display: flex;
    justify-content: flex-end;
}

.image-data img {
    width: 100%;
    max-width: 650px;
}

.konten-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: url("element-underline.svg") no-repeat;
    background-position: left 170px top 75px;
    background-size: 500px;
}

.konten-data h1 {
    font-size: 64px;
}

.konten-data p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-data {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.container-sponsor {
    max-width: 1480px;
    margin: auto;
    padding: 80px;
}

.sponsor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sponsor img {
    width: 120px;
    height: auto;
}

.text-sponsor {
    background: url("element-underline.svg") no-repeat;
    background-position: right 550px top 25px;
    background-size: 500px;
}

.text-sponsor h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 64px;
}

.sponsor img:first-child {
    width: 50px;
}

.sponsor img:last-child {
    width: 120px;
}

.work .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-work {
    display: flex;
    justify-content: flex-start;
}

.image-work img {
    width: 100%;
    max-width: 650px;
}

.konten-work h1 {
    font-size: 64px;
    color: #fff;
}

.konten-work p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
}

.btn-work {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.client {
    padding: 120px 0;
    background-color: #fff;
}

.client .container {
    max-width: 1480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-says {
    background: url("underline-says.svg") no-repeat;
    background-position: right 570px top 20px;
    background-size: 220px;
}

.text-says h1 {
    font-size: 64px;
}

.client h1 {
    text-align: center;
    margin-bottom: 60px;
}

.container-client {
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    display: grid;
    grid-template-areas: "foto foto" "header header" "menu content";
    grid-template-columns: 70px 1fr;
    gap: 20px;
    padding: 30px;
}

.group-f {
    grid-area: foto;
}

.komentar {
    grid-area: header;
    line-height: 28px;
    border-bottom: 1px solid #D9D9D9;
}

.foto-komentar1 {
    grid-area: menu;
}

.foto-komentar1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.jabatan {
    grid-area: content;
}

.jabatan h3 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #043873;
}

.jabatan p {
    font-size: 14px;
    line-height: 22px;
}

.biru {
    background-color: #4F9CF9;
    color: #ffffff;
}

.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.footer {
    margin-top: 100px;
    color: #fff;
}

.footer-content {
    text-align: center;
}

.footer-content h1 {
    font-size: 64px;
}

.footer-content p {
    color: white;
    font-size: 18px;
    line-height: 1.8;
    margin: 20px 0;
}

.btn-footer {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

.sales {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-footer h1 {
    font-size: 28px;
    color: white;
}

.logo-footer img {
    width: 40px;
}

.menu-footer .container {
    max-width: 1480px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
    gap: 60px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-bottom {
    max-width: 1480px;
    margin: auto;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2e5b9a;
}

.footer-left,
.footer-center,
.footer-right {
    margin: 0;
}

.footer-center {
    display: flex;
    gap: 32px;
}

.menu-whitepace {
    width: 288px;
}

.menu-product p,
.menu-try p,
.menu-resources p,
.menu-company p {
    margin-top: 15px;
}

.menu-product h3,
.menu-resources h3,
.menu-company h3 {
    margin-bottom: 20px;
}

.btn-footer-last {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

